body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #237649;
}

.App-link {
  color: #237649;
}


@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.image-wrapper {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.image {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.image-wrapper:hover .image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(245, 245, 220, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

  /* Base styles for the menu overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #237649;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transform: translateY(-100%); /* Initially hidden above the viewport */
  transition: transform 0.3s ease-in-out; /* Smooth slide animation */
}

/* When the menu is open */
.menu-open {
  transform: translateY(0); /* Slide down into view */
}

/* When the menu is closed */
.menu-closed {
  transform: translateY(-100%); /* Slide up out of view */
}

h1, h2, h3, h4, h5, h6 {
  color: #237649;
  text-shadow: 3px 3px 4px #a8d5ba;
}